/*	:: General Layout
	========================================================================== */
 
html { overflow-y: scroll; }

.site-content {
}

.content-area {
	@extend .col-md-8;
}

.widget-area {
	@extend .col-md-4;
}

body.right-sidebar {
	.content-area {
		float: left;
	}

	.widget-area {
		float: right;
	}
}

body.left-sidebar {
	.content-area {
		float: right;
	}

	.widget-area {
		float: left;
	}
}

body.page-template-homepage,
body.page-template-fullwidth {
	.content-area {
		@extend .col-xs-12;
	}
}