/**
 * Widgets
 */

.widget {

	select {
		max-width: 100%;
	}

	.widget-search .search-submit {
		display: none;
	}

	h1 {
		font-size: 1em;
		letter-spacing: 0;
		padding: 0 0 1em;
		margin-bottom: 1em;
		font-weight: 700;
	}

	ul {
		margin-left: 0;
		padding: 0;
		list-style: none;

		li {
			list-style: none;
			padding: 4px 0;
			border-bottom: 1px solid $gray-lighter;
		}
		
		ul {
			margin-left: 1.618em;
		}
	}
}

.widget-area {
	.widget-title {
		font-size: 18px;
	}
	.widget {
		a.button {
			font-weight: 700 !important;
			color: #fff;

			&:hover {
				color: #fff;
			}
		}
	}
}

.widget_search,
.widget_product_search {
	form {
		position: relative;

		input[type=text],
		input[type=search] {
			width: 100%;
			padding-left: 2.618em;
		}

		input[type=submit] {
			display: none;
		}

		&:before {
			content: "\f002";
			font-family: "FontAwesome";
			position: absolute;
			top: .618em;
			left: 1em;
			line-height: 1;
		}
	}
}