/**
 * Widgets
 */

.widget {

	select {
		max-width: 100%;
	}

	.widget-search .search-submit {
		display: none;
	}

	h1 {
		font-size: 1em;
		letter-spacing: 0;
		padding: 0 0 1em;
		margin-bottom: 1em;
		font-weight: 700;
	}

	ul {
		margin-left: 0;
		list-style: none;

		ul {
			margin-left: 1.618em;
		}
	}
}

.widget-area {
	.widget {
		a.button {
			font-weight: 700 !important;
			color: #fff;

			&:hover {
				color: #fff;
			}
		}
	}
}

.widget_search,
.widget_product_search {
	form {
		position: relative;

		input[type=text],
		input[type=search] {
			width: 100%;
			padding-left: 2.618em;
		}

		input[type=submit] {
			display: none;
		}

		&:before {
			content: "\f002";
			font-family: "FontAwesome";
			position: absolute;
			top: .618em;
			left: 1em;
			line-height: 1;
		}
	}
}

.widget_recent_entries,
.widget_pages,
.widget_categories,
.widget_archive,
.widget_recent_comments,
.widget_nav_menu,
.widget_links {
	ul {
		margin: 0;

		li {
			list-style: none;

			&:before {
				font-family: "FontAwesome";
				margin-right: .53em;
				display: inline-block;
			}
		}
	}
}

.widget_recent_entries,
.widget_pages {
	ul {
		li {
			&:before {
				content: "\f0f6";
			}
		}

		ul.children {
		}
	}
}

.widget_categories {
	ul {
		li {
			&:before {
				content: "\f114";
			}

			&.current-cat {
				&:before {
					content: "\f115";
				}
			}
		}
	}
}

.widget_archive {
	ul {
		li {
			&:before {
				content: "\f115";
			}
		}
	}
}

.widget_recent_comments {
	ul {
		li {
			&:before {
				content: "\f0e5";
			}
		}
	}
}

.widget_nav_menu {
	ul {
		li {
			&:before {
				content: "\f0f6";
			}
		}
	}
}

.widget_links {
	ul {
		li {
			&:before {
				content: "\f08e";
			}
		}
	}
}

.widget-area {
	.widget {

		.widget-title {
		}

		a {

			&:hover {
			}

			&.button {
			}
		}
	}
}